<div class="needle">
  <a href="/" class="homepage">
    <img alt="clover" height="145" src="/images/logo_card.png" width="90">
  </a>
</div>
<div class="signup guest_user" id="signup">
  <a href="/signup"></a>
  <div class="signup_description" id="slide_listed" style="height: 70px; ">
    <div class="signup_text">
      <a href="/signup">Создай каталог. Внеси товары. Создай услуги. Добавь фото.</a>
    </div>
  </div>
</div>
<div class="nav">
  <%= link_to "Поиск", search_path -%> |
  <a href="/about">О каталогах</a> |
  <a href="/izbrannoes">Избранное<span id="izbrannoe_count"><%= izbrannoe_count -%></span></a> |
  <% if current_user %>
    <a href="/logout" class="guest_user"><%= current_user.email -%></a>
  <% else %>
    <a href="/login" class="guest_user">Войти в каталог</a>
  <% end %>
</div>
<div class="masthead">
  <a href="/" class="homepage">
    <img alt="Clover" height="39" src="/images/logo_magfolio-type.png" width="230">
  </a>
  <h1>Персональные веб каталоги товаров и услуг.</h1>
</div>
<div class="filterbar">
  <div class="filter search">
    <ul class="search_bar">
      <li>Ваш навигатор в &nbsp;</li>
      <li class="menu">
        <a href="#" id="search_location_name"><%= this_city %></a>
        <div id="search_location_menu" style="display:none" class="search_menu">
          <% if @locations.size != 0 %>
            <% @locations.each do |location| %>
            <a href="<%= location_link(location.name) -%>"><%= location.name -%></a>
            <% end %>
          <% else %>
              <a href="#">Города нет</a>
          <% end %>
          <div class="last_menu">
            <a href="/search#locations">Весь список</a>
          </div>
        </div>
      </li>
      <li>&nbsp; по &nbsp;</li>
      <li class="menu">
        <a href="#" id="search_budget_name">товарам</a>
        <div id="search_budget_menu" style="display:none" class="search_menu">
          <% if @products.size != 0 %>
          <% @products.each do |product| %>
            <a href="<%= product_link(product.name) -%>"><%= product.name -%></a>
            <% end %>
          <% else %>
            <a href="#">Товаров нет</a>
          <% end %>
          <div class="last_menu">
            <a href="/search#products">Весь список</a>
          </div>
        </div>
      </li>
    <li>&nbsp;и&nbsp;</li>
    <li class="menu">
      <a href="#" id="search_service_name">услугам</a>
      <div id="search_service_menu" style="display:none" class="search_menu">
        <% if @services.size != 0 %>
          <% @services.each do |service| %>
            <a href="<%= service_link(service.name) -%>"><%= service.name -%></a>
          <% end %>
        <% else %>
          <a href="#">Услуг нет</a>
        <% end %>
        <div class="last_menu">
          <a href="/search#services">Весь список</a>
        </div>
      </div>
    </li>
  </ul>
  </div>
</div>