<% content_for :head do %>
  <%= javascript_include_tag 'waypoints.js' %>
  <%= javascript_include_tag 'catalogs_index.js' %>
<% end %>

<% @catalogs.each do |catalog| %>
<script type="text/javascript">
  catalog_ids.push(<%= catalog.id -%>);
  
  <% unless @location.nil? %>
    location_id = <%= @location.id -%> ;
  <% end %>
  
  <% unless @product.nil? %>
    product_kind = <%= @product.id -%> ;
  <% end %>
  
  <% unless @service.nil? %>
    service_kind = <%= @service.id -%> ;
  <% end %>
  
  <% unless @deal_ids.nil? %>
    <% if @deal_ids.size == 1 %>
      product_kind = <%= "#{@deal_ids[0]}" -%> ;
    <% else %>
      deal_ids = '<%= "#{@deal_ids.join(",")}" -%>' ;
    <% end %>
  <% end %>
  
  <% unless @location_ids.nil? %>
    <% if @location_ids.size == 1 %>
      location_id = <%= "#{@location_ids[0]}" -%> ;
    <% else %>
      locations = '<%= "#{@location_ids.join(",")}" -%>' ;
    <% end %>
  <% end %>
</script>

<% if catalog.tariff == 'pay' %>
<div class="card-upgrade listing_content">
  <div class="cardcap-upgrade">
    <img alt="Card-top-large" height="10"src="/images/card-top-large.png" width="470">
  </div>
  <div class="cardcontent-upgrade">
    <div class="cardcompany">
      <% unless /missing/ =~ catalog.logo.url(:thumb) %> 
      <%= link_to image_tag(catalog.logo.url(:thumb), :align => 'right'), catalog %>
      <% end %>
      <h2><%= link_to catalog.company_name, "/#{catalog.shortcut_name}" %></h2>
      <p>
        <%= BusinessType.find(catalog.businesstype_id).name %> &nbsp; 
        <span><%= Location.find(catalog.location_id).name %></span>
      </p>
    </div>
    
    <div class="listing slideshow" id="slider_listing_3192">
      <div class="slideshownav">
        <a href="#null" class="next" onclick="img_next(<%= catalog.id -%>);"></a>
        <a href="#null" class="previous" id="catalog_<%= catalog.id -%>" onclick="img_prev(<%= catalog.id -%>);"></a>
        <div class="controls slides" style="margin-left: 100px; ">
            <ul id="image_controls_for_catalog_<%= catalog.id -%>">
              <% flag = true %>
              
              <% catalog.pictures.each do |pic| %>
                <% if flag %>       
                  <li><a href="#null" class="active" onclick="imgchg_link(<%= catalog.id -%>,<%= pic.id -%>)" id="link_img_<%= catalog.id -%>_<%= pic.id -%>"></a>
                  </li>
                  <% flag = false %>
                <% else %>
                  <li><a href="#null" class="inactive" onclick="imgchg_link(<%= catalog.id -%>,<%= pic.id -%>)" id="link_img_<%= catalog.id -%>_<%= pic.id -%>"></a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
      </div>
      <div class="scroller">
        <div class="scroller_content">
          <script type="text/javascript">
            var catalog = new Object();
            catalog.id = <%= catalog.id -%>;
            catalog.imgs = new Array();
          </script>
          <% flag = true %>
          <% catalog.pictures.all(:order => "id ASC").each do |pic| %>
          <script type="text/javascript">
            catalog.imgs.push(<%= pic.id -%>) ;
          </script>
          <% if flag %>
            <div class="activeimg" id="image_catalog_<%= catalog.id -%>_<%= pic.id -%>">
            <% flag = false %>
          <% else %>
            <div class="inactiveimg" id="image_catalog_<%= catalog.id -%>_<%= pic.id -%>" style="display:none">
          <% end %>
            <div class="section">
              <div class="pro-image">
                <div style="position: relative;">
                  <% unless catalog.lat.nil? || catalog.lng.nil? %>
                  <div class="show_on_map">
                    <%= link_to image_tag('/images/show_on_map.gif'), "/catalogs/#{pic.id}/loadmap", :title => 'посмотреть на карте', :id => "map_pic_#{pic.id}", :onclick => "show_on_map = #{pic.id} ;" -%>
                  </div>
                  <% end %>
                  <%= link_to image_tag(pic.picture.url(:medium), :height => '300'), "/#{catalog.shortcut_name}" -%>
                </div>
              </div>
              <div class="pro-caption">
                <% unless pic.description.blank? %>
                <%= render :inline => pic.description %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <script type="text/javascript">
            catalogs.push(catalog);
          </script>
        </div>
      </div>
    </div>
    
    <div class="cardtools">
      <div class="listing">
        <span class="favorite_links">
          <a href="/izbrannoe/<%= catalog.id -%>" class="favorites remove_from_favorites" onclick="to_izbrannoe(<%= catalog.id -%>);return false;" >
            <%= izbrannoe?(catalog.id) -%>
          </a>
          <%= link_to zakaz_phraze(catalog), new_catalog_cart_path(catalog), :class => "makeorder" -%>
        </span>
      </div>
    </div>
  </div>
  <div class="cardcap-upgrade">
    <img alt="Card-bottom-large" src="/images/card-bottom-large.png">
  </div>
</div>
<% else %>
<div class="card listing_content">
  <div class="cardcap">
    <img alt="Card-top" height="10" src="/images/card-top.png" width="225" />
  </div>
  <div class="cardcontent"> 
    <div class="cardcompany listing_content"> 
      <h2><%= link_to catalog.company_name, "/#{catalog.shortcut_name}" %></h2>
      <p>
        <%= BusinessType.find(catalog.businesstype_id).name %><br />
        <span>
          <%= Location.find(catalog.location_id).name %>
        </span>
      </p> 
    </div> 
    <div class="free-image">
      <% pic = catalog.pictures.first(:order => "id ASC") %>
      <%= link_to image_tag(pic.picture.url(:small)), "/#{catalog.shortcut_name}" %>
    </div>
    <div class="cardtools">
      <div class="listing">
        <span class="favorite_links">
          <a href="/izbrannoe/<%= catalog.id -%>" class="favorites remove_from_favorites" onclick="to_izbrannoe(<%= catalog.id -%>);return false;" >
            <%= izbrannoe?(catalog.id) -%>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="cardcap"><img alt="Card-bottom" src="/images/card-bottom.png" /></div>
</div>
<% end %>

<% end %>