<% content_for :head do %>
  <%= javascript_include_tag 'jquery.json-2.2.js' %>
  <%= javascript_include_tag 'iColorPicker.js' %>
  <%= javascript_include_tag 'catalog_show.js' %>
<% end %>
<%= render :partial => 'layouts/ya' if Rails.env.production? %>

<div class="card-perma">
  <div class="cardcap-perma">
    <img alt="Card-top-perma" src="/images/card-top-perma.png">
  </div>
  <div class="cardcontent-perma">
    <div class="cardtools">
      <div class="printpage">
        <%= link_to zakaz_phraze(@catalog), catalog_products_path(@catalog), :class => 'print' -%>
      </div>
	      <div class="listing">
        <span class="favorite_links">
          <a href="/izbrannoe/<%= @catalog.id -%>" class="favorites remove_from_favorites" onclick="to_izbrannoe(<%= @catalog.id -%>);return false;" ><%= izbrannoe?(@catalog.id) -%></a>
        </span>  
      </div>
    </div>

    <div class="description <%= edit_block %>">
      <% if current_user_self? %>
        <p><a href="#catalog_description" id="catalog_description_edit">Редактировать блок</a></p>
      <% end %>
      <% unless @catalog.company_description.blank? %>
      <%= render :inline => @catalog.company_description %>
      <% end %>
    </div>

	<div id="left_col_opisaniya_obekta_kataloga">
		<h2><%= @catalog.company_name %></h2>
	<div id = "main_pic">
			<%= image_tag @pictures[0].picture.url(:large) %>
		</div>
		
		<% @pictures.each do |pic| %>
		  <div class="gallery <%= edit_block %>">
			<% if current_user_self? %>
			  <p>
				<a href="#catalog_picture_<%= pic.id %>" id="catalog_picture_edit_<%= pic.id %>">
				  Редактировать блок</a>
			  </p>
			  <div style="display:none">
				<div id="catalog_picture_<%= pic.id %>">
				  <h2>Заменить изображение</h2>
				  <%= form_for(pic, :html => {:multipart => true} ) do |f| %>
					<p>
					  <%= f.label :Изображение %>
					  <%= f.file_field :picture, :accept => "image/*" %></p>
					<p>
					  <%= f.label :Комментарий_к_изображению %><br />
					  <%= f.text_area :description, :cols => 100, :rows => 30 %></p>
					<p><%= f.submit "Внести изменения" %></p> 
				  <% end %>
				  <%= button_to 'Удалить блок', picture_path(pic), :method => :delete %>
				</div>
			  </div>
			  <script type="text/javascript">
				$("a#catalog_picture_edit_<%= pic.id %>").fancybox({
						'hideOnContentClick': false
				});
			  </script>
			<% end %>
			<%= image_tag pic.picture.url(:small) %>
			<%= link_to "Показать на карте", "/catalogs/#{pic.id}/loadmap", :title => 'посмотреть на карте' unless @catalog.lat.nil? || @catalog.lng.nil? -%>
		  </div> 
		<% end %>

		<div id="opisanie_obekta_pod_foto">
			<dl>
				<dt>Pегион:</dt><dd class="grey">Краснодарский край</dd>
				<dt>Город:</dt><dd>Тихорецк</dd>
				<dt>Адрес:</dt><dd  class="grey">ул. Богдана Хмельницкого 148A корп.2, 3 этаж, оф. 231</dd>
				<dt>Тип бизнеса:</dt><dd>Магазин</dd>
				<dt>График  работы:</dt><dd  class="grey">пн-пт 8:00 до 18:00; сб-вс 8:00 до 13:00</dd>
			
			</dl>

		
		</div>
		
		<div id="menu_under_opisanie_obekta_pod_foto">
			<ul>
				<li><a href="#">Добавить в мои каталоги</a></li>
				<li><a href="#">Подписаться на рассылку</a></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Вакансии/Отправить резюме</a></li>
				<li><a href="#">Записаться на приём</a></li>
				<li><a href="#">Написать отзыв</a></li>
				<li><a href="#">Был здесь/ Посоветоваться</a></li>
			</ul>
		</div>
		
		
	</div>

	<div id="right_col_opisaniya_obekta_kataloga">
	<div id="g_menu_opisaniya_obekta_cataloga" class="button">
	<ul>
		<li><a href="#">Клиенты <span>143</span></a></li>
		<li><a href="#">Представительства <span>2</span></a></li>
		<li><a href="#">Презентации <span class="red">3</span></a></li>
		<li><a href="#">Прайс</a></li>
	</ul>
	</div>
		<p>Основной целью создания и деятельности компании <b>«<%= @catalog.company_name %>»</b> является представительство интересов и защита законных прав членов Партнерства во взаимоотношениях с органами государственной власти и местного самоуправления, иными субъектами, осуществляющими деятельность в сферах производства строительных материалов, строительства, а также смежных с ними отраслях, и их объединениями, способствование повышению конкурентоспособности членов Партнерства, для полноценного, комплексного подхода к обеспечению высокого качества, ответственности и безопасности работ в строительстве при взаимодействии и поддержке саморегулируемых организаций строителей и проектировщиков в дальнейшем.</p>
		<p>В своей деятельности некоммерческое партнёрство руководствуется Конституцией Российской Федерации, Федеральными законами «О некоммерческих партнерствах», «О техническом регулировании», «О Техническом  регламенте «о безопасности зданий и сооружений», требованиями проекта Технического регламента «О безопасности строительных материалов и изделий» и другими нормативно-правовыми актами Российской Федерации.</p>
		<p>В соответствии с федеральными законами <b>«<%= @catalog.company_name %>»</b> гарантирует и несет, в том числе субсидиарную материальную ответственность за действия своих членов и качество выпускаемой ими продукции перед потребителями. Это то, что объединяет участников строительного рынка, что позволяет вместе решать комплексные задачи, что дает возможность более полноценно вести диалог с органами местного самоуправления и государственной власти.</p>
	<h3>Актуальные акции</h3>
		<p>В соответствии с федеральными законами <b>«<%= @catalog.company_name %>»</b> гарантирует и несет, в том числе субсидиарную материальную ответственность за действия своих членов и качество выпускаемой ими продукции перед потребителями. Это то, что объединяет участников строительного рынка, что позволяет вместе решать комплексные задачи, что дает возможность более полноценно вести диалог с органами местного самоуправления и государственной власти.</p>
	<h3>Отзывы</h3>
	<p>
	Покупкой мультиварки я запарила мозг не только своим домашним, но и всем местным интернет-магазинам :) И, пока я металась между трех сосен :„) моя мама просто поехала в <b>«<%= @catalog.company_name %>»</b> и купила мультю :) А там, только услышав слово "мультиварка", сразу спросили, не мы ли звонили в интернет-магазин?? Ну да, мы. Цена и так была почти самая низкая в городе, а нам продали еще дешевле - по цене с сайта. Дома мы быстренько сварганили жареную курочку и, хочу вам сказать, <b>«<%= @catalog.company_name %>»</b> честно заработал свой очередной положительный отзыв. <a href="#">читать дальше</a>
	</p><p>
	Заказали холодильник в этом магазине,менеджер не позвонил ни в этот же,ни на следующий день, ни через два дня. Решили написать электронное письмо,оказалось,что холодильника нет в наличии,поэтому на заявку просто не реагировали, хотя на сайте в наличии был и магазине и на складе!Попросили подождать пару дней нового завоза товара. Согласились,так как цена была самая приятная 19420 руб.при других ценах в других магазинах на 1000-1500 руб.выше + в интернет-магазине есть скидка 3%,которая делает этот холодильник… ещё <a href="#">читать дальше</a>
	</p>
	
	</div>
	
	
	
	<div style="clear: both;"></div>
    <div class="action">
      <h2>Вам понравилось? Свяжитесь с <%= @catalog.company_name %>.</h2>
      <h3>
          <a href="mailto:<%= @catalog.email %>"><%= @catalog.email %></a>
          <% unless @catalog.phone =~ /\(86196\)41616/ %>
          •
          <a href="<%= @catalog.company_url %>"><%= @catalog.phone %></a>
          <% end %>
      </h3>
    </div>
  </div>
  <div class="cardcap-perma">
    <img alt="Card-bottom-perma" src="/images/card-bottom-perma.png">
  </div>
</div>

<% if current_user_self? %>
<script type="text/javascript">

  var ps_default = [  {'text':'заказ принят','color':'#000000','bgcolor':'#AFAFFF'},
                      {'text':'заказ закрыт','color':'#000000','bgcolor':'#AFAFFF'},
                      {'text':'передан в архив','color':'#000000','bgcolor':'#AFAFFF'} ] ;

  <% if @catalog.order_statuses.nil? || @catalog.order_statuses.empty? %>
    var ps = new Array() ;
  <% else %>
    var ps = <%= @order_statuses %> ;
  <% end %>

</script>
<div style="display:none">
  <div id="catalog_base_data">
    <h2>Редактирование основных данных каталога</h2>
    <%= form_for(@catalog, :html => {:multipart => true} ) do |f| %>
      <p><%= f.label :Имя_компании %><br />
      <%= f.text_field :company_name, :size => 40 %></p>
      <p><%= f.label :Телефон %><br />
      <%= f.text_field :phone, :size => 40 %></p>
      <p><%= f.label :Адрес %><br />
      <%= f.text_field :address, :size => 40 %></p>
      <p><%= f.label :Контактный_email %><br />
      <%= f.text_field :email, :size => 40 %></p>
      <p><%= f.label :Короткая_ссылка %><br />
      <%= f.text_field :shortcut_name, :size => 40 %></p>
      <p><%= f.label :Фраза_для_ссылки_заказа %><br />
      <%= f.text_field :zakaz_phraze, :size => 40 %></p>
      <p><%= f.label :Вебсайт %><br />
      <%= f.text_field :company_url, :size => 40 %></p>
      <p><%= f.label :Ключевые_слова_для_тега_keywords %><br />
      <%= f.text_area :keywords, :size => "45x3" %></p>
      <p><%= f.label :Логотип %><br />
      <%= f.file_field :logo, :accept => "image/*" %></p>
      <p><%= f.submit "Внести изменения" %></p>
    <% end %>
  </div>
  <div id="catalog_description">
    <h2>Несколько слов о компании</h2>
    <%= form_for(@catalog) do |f| %>
      <p><small>здесь можно вводить html код</small></p>
      <%= f.text_area :company_description %></p>
      <p><%= f.submit "Внести изменения" %></p>
    <% end %>
  </div>
  <div id="catalog_galery_img">
    <h2>Добавить изображение в галерею</h2>
    <%= form_for(@picture, :html => {:multipart => true} ) do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :catalog_id %>
      <p>
        <%= f.label :Изображение %>
        <%= f.file_field :picture, :accept => "image/*" %></p>
      <p>
        <%= f.label :Комментарий_к_изображению %><br />
        <%= f.text_area :description %></p>
      <p><%= f.submit "Внести изменения" %></p>
    <% end %>
  </div>
  <div id="add_to_map">
    <h2>Добавить компанию на карту</h2>
    <%= form_for(@catalog) do |f| %>
      <p><small>введите координаты, например:<br />широта - 45.8533228 и долгота - 40.1257947</small></p>
      <p><%= f.label :Широта %><%= f.text_field :lat %></p>
      <p><%= f.label :Долгота %><%= f.text_field :lng %></p>
      <p><%= f.submit "Внести" %></p>
    <% end %>
  </div>
  <div id="edit_business_deals">
    <h2>Виды товаров и услуг</h2>
    <%= form_for(@catalog) do |f| %>
      <% @all_business_deals.each do |all_business_deal| %>
        <% unless @catalog.business_deals.nil? %>
          <% arr = @catalog.business_deals %>
          <% if arr.include?("#{all_business_deal.id}") %>
            <input id="business_deals_<%= all_business_deal.id -%>" 
                 name="business_deals[<%= all_business_deal.id -%>]"
                 type="checkbox" value="<%= all_business_deal.id -%>" 
                 checked="checked" />
            <%= all_business_deal.name -%>&nbsp<%= all_business_deal.kind -%><br />
          <% else %>
            <input id="business_deals_<%= all_business_deal.id -%>" 
                 name="business_deals[<%= all_business_deal.id -%>]"
                 type="checkbox" value="<%= all_business_deal.id -%>" />
            <%= all_business_deal.name -%>&nbsp<%= all_business_deal.kind -%><br />
          <% end %>
        <% else %>
          <input id="business_deals_<%= all_business_deal.id -%>" 
               name="business_deals[<%= all_business_deal.id -%>]"
               type="checkbox" value="<%= all_business_deal.id -%>" />
          <%= all_business_deal.name -%>&nbsp<%= all_business_deal.kind -%><br />
        <% end %>
      <% end %>
      <input id="business_deals_0" name="business_deals[0]" type="checkbox" value="0" checked="checked" style="display:none;">
      <p><%= f.submit "Внести" %></p>
    <% end %>
  </div>
  <div id="catalog_tariff_change">
    <h2>Изменить тариф каталога</h2>
    <%= form_for(@catalog) do |f| %>
      <p><%= f.label :Тариф %><br />
      <%= f.select :tariff, [["бесплатный","free"],['500 рублей в месяц','pay']] %>
      <p><%= f.submit "Внести" %></p>
    <% end %>
  </div>
  <div id="zakaz_layout_change">
    <h2>Изменить форму заказа</h2>
    <%= form_for(@catalog) do |f| %>
      <p><%= f.label :Форма %><br />
      <%= f.select :zakaz_layout, [['заказ по телефону','order by phone'],['заказ цветов','bouquet of flowers'],['заказ столика в ресторане','table in a restaurant']] %>
      <p><%= f.submit "Внести" %></p>
    <% end %>
  </div>
  <div id="possible_order_status">
    <h2>Возможные состояния моих заказов</h2>
    <input type="text" id="possible_status_text" />
    <a href="" id="status_add">внести</a>
    <a href="" onclick="filldefault(); return false;" title="заполнить автоматически">автоматически</a>
    <input type="text" class="iColorPicker" id="possible_status_color" value="#000000" size="8">
    <input type="text" class="iColorPicker" id="possible_status_bg_color" value="#AFAFFF" size="8">
    <br>
    <table id="possible_statuses">  
    </table>
    <%= form_for(@catalog) do |f| %>
    <%= hidden_field_tag(:order_statuses, nil, :id=>"all_statuses") %>
    <p><%= f.submit "Сохранить" %></p>
    <% end %>
  </div>
</div>
<% end %>

<% if current_user_self? %>
<%= render :partial => 'user_menu' %>
<% end %>
