<% content_for :head do %>
  <%= javascript_include_tag 'jquery.json-2.2.js' %>
  <%= javascript_include_tag 'iColorPicker.js' %>
  <%= javascript_include_tag 'catalog_show.js' %>
<% end %>
<%= render :partial => 'layouts/ya' if Rails.env.production? %>

<div class="card-perma">
  <div class="cardcap-perma">
    <img alt="Card-top-perma" src="/images/card-top-perma.png">
  </div>
  <div class="cardcontent-perma">
    <div class="cardtools">
      <div class="printpage">
        <%= link_to zakaz_phraze(@catalog), catalog_products_path(@catalog), :class => 'print' -%>
      </div>
      <div class="listing">
        <span class="favorite_links">
          <a href="/izbrannoe/<%= @catalog.id -%>" class="favorites remove_from_favorites" onclick="to_izbrannoe(<%= @catalog.id -%>);return false;" ><%= izbrannoe?(@catalog.id) -%></a>
        </span>  
      </div>
    </div>
    <div class="cardcompany <%= edit_block %>">
      <% if current_user_self? %>
        <p><a href="#catalog_base_data" id="catalog_base_data_edit">
          Редактировать блок</a></p>
      <% end %>
      <% if /missing/ =~ @catalog.logo.url(:thumb) %>
        <% if current_user_self? %>
          <%= image_tag "/images/your_logo.png", :align => 'right' %>
        <% end %>
      <% else %>
      <%= image_tag @catalog.logo.url(:thumb), :align => 'right' %>
      <% end %>
      <h2><%= @catalog.company_name %></h2>
      <p>
        Вид бизнеса: 
        <strong><%= BusinessType.find(@catalog.businesstype_id).name %></strong><br />
        Расположен в 
        <strong>
          <% location = Location.find(@catalog.location_id).name %>
          <a href="<%= search_city_name_path(location) %>"><%= location %></a>
        </strong>
        <% unless @catalog.address.nil? %>
          ,&nbsp;<%= @catalog.address %>
        <% end %>
        <br />
        E-mail: 
        <strong>
          <a href="mailto:<%= @catalog.email -%>?subject=Вопросы о каталоге <%= @catalog.company_name -%>"><%= @catalog.email %></a>
        </strong>
        <% unless @catalog.phone =~ /\(86196\)41616/ %>
          <br />
          Телефон: 
          <strong>
            <%= @catalog.phone %>
          </strong>
        <% end %>
      </p>
    </div>
    <div class="description <%= edit_block %>">
      <% if current_user_self? %>
        <p><a href="#catalog_description" id="catalog_description_edit">Редактировать блок</a></p>
      <% end %>
      <% unless @catalog.company_description.blank? %>
      <%= render :inline => @catalog.company_description %>
      <% end %>
    </div>
    <% @pictures.each do |pic| %>
      <div class="gallery <%= edit_block %>">
        <% if current_user_self? %>
          <p>
            <a href="#catalog_picture_<%= pic.id %>" id="catalog_picture_edit_<%= pic.id %>">
              Редактировать блок</a>
          </p>
          <div style="display:none">
            <div id="catalog_picture_<%= pic.id %>">
              <h2>Заменить изображение</h2>
              <%= form_for(pic, :html => {:multipart => true} ) do |f| %>
                <p>
                  <%= f.label :Изображение %>
                  <%= f.file_field :picture, :accept => "image/*" %></p>
                <p>
                  <%= f.label :Комментарий_к_изображению %><br />
                  <%= f.text_area :description, :cols => 100, :rows => 30 %></p>
               <p><%= f.submit "Внести изменения" %></p> 
              <% end %>
              <%= button_to 'Удалить блок', picture_path(pic), :method => :delete %>
            </div>
          </div>
          <script type="text/javascript">
            $("a#catalog_picture_edit_<%= pic.id %>").fancybox({
            		'hideOnContentClick': false
            });
          </script>
        <% end %>
        <%= image_tag pic.picture.url(:large) %>
        <%= link_to "Показать на карте", "/catalogs/#{pic.id}/loadmap", :title => 'посмотреть на карте' unless @catalog.lat.nil? || @catalog.lng.nil? -%>
        <p>
          <% unless pic.description.blank? %>
          <%= render :inline => pic.description %>
          <% end %>
        </p>
      </div>
    <% end %>
    <div class="action">
      <h2>Вам понравилось? Свяжитесь с <%= @catalog.company_name %>.</h2>
      <h3>
          <a href="mailto:<%= @catalog.email %>"><%= @catalog.email %></a>
          •
          <a href="<%= @catalog.company_url %>"><%= @catalog.phone %></a>
      </h3>
    </div>
  </div>
  <div class="cardcap-perma">
    <img alt="Card-bottom-perma" src="/images/card-bottom-perma.png">
  </div>
</div>

<% if current_user_self? %>
<script type="text/javascript">

  var ps_default = [  {'text':'заказ принят','color':'#000000','bgcolor':'#AFAFFF'},
                      {'text':'заказ закрыт','color':'#000000','bgcolor':'#AFAFFF'},
                      {'text':'передан в архив','color':'#000000','bgcolor':'#AFAFFF'} ] ;

  <% if @catalog.order_statuses.nil? || @catalog.order_statuses.empty? %>
    var ps = new Array() ;
  <% else %>
    var ps = <%= @order_statuses %> ;
  <% end %>

</script>
<div style="display:none">
  <div id="catalog_base_data">
    <h2>Редактирование основных данных каталога</h2>
    <%= form_for(@catalog, :html => {:multipart => true} ) do |f| %>
      <p><%= f.label :Имя_компании %><br />
      <%= f.text_field :company_name, :size => 40 %></p>
      <p><%= f.label :Телефон %><br />
      <%= f.text_field :phone, :size => 40 %></p>
      <p><%= f.label :Адрес %><br />
      <%= f.text_field :address, :size => 40 %></p>
      <p><%= f.label :Контактный_email %><br />
      <%= f.text_field :email, :size => 40 %></p>
      <p><%= f.label :Короткая_ссылка %><br />
      <%= f.text_field :shortcut_name, :size => 40 %></p>
      <p><%= f.label :Фраза_для_ссылки_заказа %><br />
      <%= f.text_field :zakaz_phraze, :size => 40 %></p>
      <p><%= f.label :Вебсайт %><br />
      <%= f.text_field :company_url, :size => 40 %></p>
      <p><%= f.label :Ключевые_слова_для_тега_keywords %><br />
      <%= f.text_area :keywords, :size => "45x3" %></p>
      <p><%= f.label :Логотип %><br />
      <%= f.file_field :logo, :accept => "image/*" %></p>
      <p><%= f.submit "Внести изменения" %></p>
    <% end %>
  </div>
  <div id="catalog_description">
    <h2>Несколько слов о компании</h2>
    <%= form_for(@catalog) do |f| %>
      <p><small>здесь можно вводить html код</small></p>
      <%= f.text_area :company_description %></p>
      <p><%= f.submit "Внести изменения" %></p>
    <% end %>
  </div>
  <div id="catalog_galery_img">
    <h2>Добавить изображение в галерею</h2>
    <%= form_for(@picture, :html => {:multipart => true} ) do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :catalog_id %>
      <p>
        <%= f.label :Изображение %>
        <%= f.file_field :picture, :accept => "image/*" %></p>
      <p>
        <%= f.label :Комментарий_к_изображению %><br />
        <%= f.text_area :description %></p>
      <p><%= f.submit "Внести изменения" %></p>
    <% end %>
  </div>
  <div id="add_to_map">
    <h2>Добавить компанию на карту</h2>
    <%= form_for(@catalog) do |f| %>
      <p><small>введите координаты, например:<br />широта - 45.8533228 и долгота - 40.1257947</small></p>
      <p><%= f.label :Широта %><%= f.text_field :lat %></p>
      <p><%= f.label :Долгота %><%= f.text_field :lng %></p>
      <p><%= f.submit "Внести" %></p>
    <% end %>
  </div>
  <div id="edit_business_deals">
    <h2>Виды товаров и услуг</h2>
    <%= form_for(@catalog) do |f| %>
      <% @all_business_deals.each do |all_business_deal| %>
        <% unless @catalog.business_deals.nil? %>
          <% arr = @catalog.business_deals %>
          <% if arr.include?("#{all_business_deal.id}") %>
            <input id="business_deals_<%= all_business_deal.id -%>" 
                 name="business_deals[<%= all_business_deal.id -%>]"
                 type="checkbox" value="<%= all_business_deal.id -%>" 
                 checked="checked" />
            <%= all_business_deal.name -%>&nbsp<%= all_business_deal.kind -%><br />
          <% else %>
            <input id="business_deals_<%= all_business_deal.id -%>" 
                 name="business_deals[<%= all_business_deal.id -%>]"
                 type="checkbox" value="<%= all_business_deal.id -%>" />
            <%= all_business_deal.name -%>&nbsp<%= all_business_deal.kind -%><br />
          <% end %>
        <% else %>
          <input id="business_deals_<%= all_business_deal.id -%>" 
               name="business_deals[<%= all_business_deal.id -%>]"
               type="checkbox" value="<%= all_business_deal.id -%>" />
          <%= all_business_deal.name -%>&nbsp<%= all_business_deal.kind -%><br />
        <% end %>
      <% end %>
      <input id="business_deals_0" name="business_deals[0]" type="checkbox" value="0" checked="checked" style="display:none;">
      <p><%= f.submit "Внести" %></p>
    <% end %>
  </div>
  <div id="catalog_tariff_change">
    <h2>Изменить тариф каталога</h2>
    <%= form_for(@catalog) do |f| %>
      <p><%= f.label :Тариф %><br />
      <%= f.select :tariff, [["бесплатный","free"],['500 рублей в месяц','pay']] %>
      <p><%= f.submit "Внести" %></p>
    <% end %>
  </div>
  <div id="zakaz_layout_change">
    <h2>Изменить форму заказа</h2>
    <%= form_for(@catalog) do |f| %>
      <p><%= f.label :Форма %><br />
      <%= f.select :zakaz_layout, [['заказ по телефону','order by phone'],['заказ цветов','bouquet of flowers'],['заказ столика в ресторане','table in a restaurant']] %>
      <p><%= f.submit "Внести" %></p>
    <% end %>
  </div>
  <div id="possible_order_status">
    <h2>Возможные состояния моих заказов</h2>
    <input type="text" id="possible_status_text" />
    <a href="" id="status_add">внести</a>
    <a href="" onclick="filldefault(); return false;" title="заполнить автоматически">автоматически</a>
    <input type="text" class="iColorPicker" id="possible_status_color" value="#000000" size="8">
    <input type="text" class="iColorPicker" id="possible_status_bg_color" value="#AFAFFF" size="8">
    <br>
    <table id="possible_statuses">  
    </table>
    <%= form_for(@catalog) do |f| %>
    <%= hidden_field_tag(:order_statuses, nil, :id=>"all_statuses") %>
    <p><%= f.submit "Сохранить" %></p>
    <% end %>
  </div>
</div>
<% end %>

<% if current_user_self? %>
<%= render :partial => 'user_menu' %>
<% end %>