<script type="text/javascript">
  $(function() {
    $("#email").focus();
  });
</script>

<div class="card-upgrade">
  <div class="cardcap-upgrade">
    <img alt="Card-top-large" src="/images/card-top-large.png" />
  </div>
  <div class="cardcontent-upgrade login">
    <%= form_tag sessions_path do %>
      <h2>Вход в онлайн каталоги Tihinfo</h2> 
      <p><%= label_tag :email %></p> 
      <%= text_field_tag :email, @email, :size => '40' %>
      <p><%= label_tag :password %></p>
      <%= password_field_tag :password, @password, :size => '40' %>
      <br />
      <a href="/password/reset">Я забыл пароль</a>
      <div class="remember">
        <label for="user_session_remember_me">
          <input id="remember_me" name="remember_me" type="checkbox" <%= memorized? -%> />
          <span>Запомнить меня на этом компьютере</span>
          </label>
      </div>
      <p><%= submit_tag "Вход" %></p> 
    <% end %>
  </div>
  <div class="cardcap-upgrade">
    <img alt="Card-bottom-large" src="/images/card-bottom-large.png" />
  </div>
  <div class="create">У Вас нет имени и пароля? <a href="/signup">Создать веб каталог Tihinfo.</a></div>
</div>