<form action="/" class="account account_form" id="queenbee_redirect_form" method="post">
  <div class="create_form"> 
    <h1>Ваша учётная запись</h1> 
    <p>Перед тем как разместиться в каталоге Tihinfo Вам необходимо создать учётную запись. Однажды создав учётную запись Вы сможете обновлять информацию о своей компании и изменять фотографии столько сколько захотите.</p> 
    <p><label for="qb_data_owner_email">Ваш email адрес</label></p> 
    <input id="qb_data_owner_email" name="qb[data][owner_email]" size="30" type="text" /><br /> 
    <small>Это секретный email (клиенты не должны видеть этот адрес).</small>
    <div id="email_error" style='display: none;' class="liveValidationErrors"> 
      <small>Email is already taken. Please choose another Username.</small> 
    </div>
    <p><label for="qb_data_password">Пароль</label></p> 
    <input id="qb_data_password" name="qb[data][password]" size="30" type="password" /><br /> 
    <small>Должен быть более 6 символов.</small> 

    <div class="ccnumber"> 
      <h3>Enter your billing information</h3> 
      <p><label for="card_number">Card number [SECURE]:</label></p> 
      <img align="right" alt="Visa, Mastercard, AMEX" src="/images/creditcardlogos-small.png" /> 
      <input class="transaction_field" id="card_number" maxlength="16" name="ccnumber" size="17" type="text" /> 
      <p><label for="card_expires_on">Expires on:</label></p> 
      <select class="transaction_field" id="card_expires_on_month" name="card_expires_on[month]"> 
        <option value="1">1 - January</option> 
        <option value="2">2 - February</option> 
        <option selected="selected" value="3">3 - March</option> 
        <option value="4">4 - April</option> 
        <option value="5">5 - May</option> 
        <option value="6">6 - June</option> 
        <option value="7">7 - July</option> 
        <option value="8">8 - August</option> 
        <option value="9">9 - September</option> 
        <option value="10">10 - October</option> 
        <option value="11">11 - November</option> 
        <option value="12">12 - December</option> 
      </select> 
      <select class="transaction_field" id="card_expires_on_year" name="card_expires_on[year]"> 
        <option selected="selected" value="2011">2011</option> 
        <option value="2012">2012</option> 
        <option value="2013">2013</option> 
        <option value="2014">2014</option> 
        <option value="2015">2015</option> 
        <option value="2016">2016</option> 
        <option value="2017">2017</option> 
        <option value="2018">2018</option> 
        <option value="2019">2019</option> 
        <option value="2020">2020</option> 
        <option value="2021">2021</option> 
        <option value="2022">2022</option> 
        <option value="2023">2023</option> 
        <option value="2024">2024</option> 
        <option value="2025">2025</option> 
        <option value="2026">2026</option> 
      </select> 
      <input class="transaction_field" id="card_expires_on" name="ccexp" type="hidden" /> 
      <p><label for="card_zip_code">Billing ZIP code:</label></p> 
      <input class="transaction_field" id="card_zip_code" maxlength="10" name="postal_code" size="11" type="text" /> 
    </div> 

    <div class="billingfaq"> 
      We do not accept POs, checks, or invoices to be paid at a later date. We do email a "PAID" invoice each time you are billed.
    </div> 

    <div class="cc_upgrade"> 
      <p><span>You will be billed immediately after upgrading your Sortfolio account.</span> You&rsquo;ll be charged $99/month for as long as your account remains open.</p> 
    </div> 
    <p>Кликнув на <strong>Создать каталог &amp; Зарегистрировать</strong> Вы соглашаетесь с <a href="/terms" target="blank">Условиями использования</a>, <a href="/privacy" target="blank">Privacy</a> и <a href="http://www.spknd.ru/refund" target="_blank">Refund Policy</a>.</p> 
    <p>
      <input alt="Publish listing &amp; Create account" class="submit_image" src="/images/btn_publish.png" type="image" />
    </p>
</div> 
</form>  


<div class="example_card"> 
  <h3>Это будет опубликовано в каталоге Tihinfo.</h3> 
  <div class="card-upgrade listing_content"> 
    <div class="cardcap-upgrade"> 
      <img alt="Card-top-large-publish" height="10" src="/images/card-top-large-publish.png" width="470" /> 
    </div> 
    <div class="cardcontent-upgrade"> 
      <div class="cardcompany"> 
        <h2><%= @signup.company_name %></h2> 
        <p>
          <%= BusinessType.find(@signup.businesstype_id).name %>
          <span>
            <%= Location.find(@signup.location_id).name %>
          </span>
        </p> 
      </div> 
      <div class="listing slideshow" id="slider_listing_11058">
        <div class="slideshownav"></div> 
        <div class="scroller"> 
          <div class="scroller_content"> 
            <div class="portfolio_image section" id="listing_portfolio_image_14573">
              <div class="pro-image"> 
                <%= image_tag @signup.bestpicture.url(:medium) %> 
              </div> 
              <div class="pro-caption"><%= @signup.bestpic_comment %></div> 
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
    <div class="cardcap-upgrade"><img alt="Card-bottom-large" src="/images/card-bottom-large.png" /></div> 
  </div> 
  <div style="clear: both;"> 
    Нет спасибо. Я подключу себе <a href="/signup/stage3-free">бесплатный каталог.</a> 
  </div> 
</div> 

<div class="clear"></div> 
