<div class="free"> 
<h3>Бесплатная страничка в каталоге</h3> 
<p>Любой получит маленькую карточку. Большая карточка и лучшее размещение, когда перейдёте на Pro каталог.</p> 
<div class="freebutton"> 
  <p>Вы можете перейти на Pro позже.</p> 
  <a href="/signup/stage3-free">
    <img alt="Continue with the Free plan" height="38" src="/images/btn_continuefree.png" width="250" />
  </a> 
</div> 
</div> 

<div class="pro"> 
<h3>Ваш Клевер Pro каталог за $99/месяц</h3> 
<div class="bulletsleft"> 
  <ul> 
    <li>Добавьте до 6 больших фотографий</li> 
    <li>Логотип компании на большой карточке</li> 
  </ul>  
</div> 
<div class="bulletsright"> 
  <ul> 
    <li>Большая интерактивная карточка</li> 
    <li>Ваша большая карточка будет <strong>выше бесплатных каталогов</strong></li> 
  </ul>  
</div> 
<div class="clear"> 
  <p>No obligation. Cancel anytime.</p> 
  <a href="/signup/stage3-pay"><img alt="Upgrade to the Sortfolio Pro plan" height="38" src="/images/btn_cre_pro_catalog.png" width="320" /></a> 
</div> 
</div> 

<div class="clear"></div> 

<div class="freecard"> 
  <img align="left" alt="Img_empty-full-fadeleft" src="/images/img_empty-full-fadeleft.png" style="margin-right: 20px;" /> 
  <div class="card listing_content">
    <div class="cardcap">
      <img alt="Card-top" height="10" src="/images/card-top.png" width="225" />
    </div> 
    <div class="cardcontent"> 
      <div class="cardcompany listing_content"> 
        <h2><%= @signup.company_name %></h2> 
        <p>
          <%= BusinessType.find(@signup.businesstype_id).name %><br />
          <span>
            <%= Location.find(@signup.location_id).name %>
          </span>
        </p> 
      </div> 
      <div class="free-image">
        <%= image_tag @signup.bestpicture.url(:small) %>
      </div> 
    </div> 
    <div class="cardcap"><img alt="Card-bottom" src="/images/card-bottom.png" /></div> 
  </div> 
  <img alt="Img_empty-half" src="/images/img_empty-half.png" style="margin-top: 20px;" /> 
</div> 
    
<div class="procard"> 
  <img align="right" alt="Img_empty-full-faderight" src="/images/img_empty-full-faderight.png" style="margin-left: 20px;" /> 
  <div class="card-upgrade listing_content"> 
    <div class="cardcap-upgrade"> 
      <img alt="Card-top-large" height="10" src="/images/card-top-large.png" width="470" /> 
    </div> 
    <div class="cardcontent-upgrade"> 
      <div class="cardcompany">
        <h2><%= @signup.company_name %></h2> 
        <p>$3,000 and under &nbsp; <span>Rabat</span></p> 
      </div>
      <div class="listing slideshow" id="slider_listing_11058">
        <div class="slideshownav"> 
          <a href="#" class="next" onclick="return false"></a> 
          <a href="#" class="previous" onclick="return false"></a>
          <div class="controls slides"> 
            <ul>
              <li><a href="#listing_portfolio_image_14573"></a></li> 
              <li><a href="#preview1"></a></li> 
              <li><a href="#preview2"></a></li> 
              <li><a href="#preview3"></a></li> 
            </ul> 
          </div> 
        </div>
        <div class="scroller"> 
          <div class="scroller_content"> 
            <div class="portfolio_image section" id="listing_portfolio_image_14573">
              <div class="pro-image">
                <%= image_tag @signup.bestpicture.url(:medium), :height => '300' %>
              </div> 
              <div class="pro-caption"><%= @signup.bestpic_comment %></div> 
            </div> 
            <div class="portfolio_image section" id="preview1"> 
              <div class="pro-image"> 
                <img alt="More images" src="/images/img_upsell-1.png" /> 
              </div> 
            <div class="pro-caption"> 
              Pro каталог включает слайдшоу из шести больших изображений, так что потенциальные клиенты могут удобно листать их. 
            </div>
          </div>
          <div class="portfolio_image section" id="preview2"> 
          <div class="pro-image"> 
            <img alt="Larger cards" src="/images/img_upsell-2.png" /> 
          </div> 
          <div class="pro-caption">
            Pro каталог включает большую карточку (в два раз больше бесплатной карты).
          </div> 
        </div>
        <div class="portfolio_image section" id="preview3"> 
          <div class="pro-image"> 
            <img alt="Always above" src="/images/img_upsell-3.png" />
          </div> 
          <div class="pro-caption">
            Большая карточка отображается выше чем бесплатная. Это означает что она чаще попадается на глаза Вашим потенциальным клиентам.
          </div> 
        </div> 

      </div> 
    </div> 

</div> 
</div> 
<div class="cardcap-upgrade"><img alt="Card-bottom-large" src="/images/card-bottom-large.png" /></div> 
</div> 

</div> 

<div class="clear"></div>      

