<h1>Список пользователей</h1>

<table>
  <tr>
    <th>№п.п.</th>
    <th>email</th>
    <th></th>
    <th></th>
  </tr>

<% @count = 0 %>
<% @users.each do |user| %>
  <tr>
    <td><%= @count += 1 -%></td>
    <td><%= user.email %></td>
    <td><%= user.open_text_password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= button_to 'Delete', user_path(user), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', signup_path %>