<%= render :partial => 'header' %>

<div class="filterbar">
  <div class="steps">
    <%= link_to image_tag("step_3-blue.png", :align=>'absmiddle'), make_order_path('3') %>
    <%= link_to "Мои заказы", make_order_path('3') %>
    <%= link_to image_tag("step_1-gray.png", :align=>'absmiddle'), make_order_path('1') %>
    <%= link_to "Изменить доставку", make_order_path('1') %>
    <%= link_to image_tag("step_2-gray.png", :align=>'absmiddle'), make_order_path('2') %>
    <%= link_to "Изменить оплату", make_order_path('2') %>
  </div>
</div>