<table class="order">
  <caption>Заказы по каталогу <%= link_to @catalog.company_name, "/#{@catalog.shortcut_name}" %></caption>
  <thead>
    <tr>
      <th scope="col">&nbsp;</th>
      <th scope="col">Номер заказа</th>
      <th scope="col">Сумма заказа</th>
      <th scope="col">Количество товаров</th>
      <th scope="col">Состояние заказа</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr style="<%= order_state_color(order) %>">
      <td align="center"><%= link_to "показать заказ", show_order_path(@customer_id, order), :style => "color:#000000;" %></td>
      <th align="center">
        <%= link_to order.id, show_order_path(@customer_id, order), :style => "color:#000000;" %>
      </th>
      <td align="center"><%= order_sum(order) %>, руб.</td>
      <td align="center"><%= order_amount(order) %>, шт.</td>
      <td align="center"><%= last_order_state(order) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
