<% content_for :head do %>
  <%= javascript_include_tag 'order.js' %>
<% end %>

<div class="column left">
	<ul class="orderstack">
	  <li style="<%= order_state_color(@order) %>">
      Состояние заказа : <%= order_state(@order) %>
    </li>
	  <li><strong>номер заказа: <%= @order.id %></strong></li>
	  <li><strong>Продавец: <%= @catalog.company_name %></strong></li>
	  <li>
	    <strong>Доставка :</strong>
	    <%= @order.delivery['method'] %>
    </li>
    <li>
      <strong>Оплата :</strong>
      <%= @order.payment['payd_system'] %>
    </li>
    <li>Версия для печати</li>
  </ul>
</div>
<div class="column right">
<table class="order">
  <!--<caption>перечень товаров</caption>-->
  <thead>
    <tr>
      <th scope="col">Название товара</th>
      <th scope="col">Цена, руб.</th>
      <th scope="col">Количество</th>
    </tr>
  </thead>
  <tbody>
    <% itogo_summa = 0 %>
    <% itogo_amount = 0 %>
    <% @order.products.each do |product| %>
      <tr>
        <th scope="row">
          <%= link_to product['name'], root_path %>
        </th>
        <td align="center">
          <%= product['price'] %>
          <% itogo_summa = itogo_summa + product['price'].to_i %>
        </td>
        <td align="center">
          <%= product['amount'] %>
          <% itogo_amount = itogo_amount + product['amount'].to_i %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td align="center">доставка</td>
      <td align="center">0</td>
      <td align="center">&nbsp;</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row">Итого:</th>
      <th align="center">
        <strong><%= itogo_summa %></strong> руб.
      </th>
      <th align="center">
        <strong><%= itogo_amount %></strong> шт.</th>
    </tr>
  </tfoot>
</table>
</div>
