<% content_for :head do %>
  <%= javascript_include_tag 'order.js' %>
<% end %>

<div class="column left">
  <h3>Мой выбор</h3>
	<ul class="orderstack">
     <li>Доставка - <%= delivery %><a href="<%= make_order_path(1) %>" title="Изменить доставку"><img src="/images/delete.gif"></a></li>
     <li>Оплата - <%= payment %><a href="<%= make_order_path(2) %>" title="Изменить оплату"><img src="/images/delete.gif"></a></li>
  </ul>
</div>
<div class="column right">
<table class="order">
  <caption>Я хочу заказать</caption>
  <thead>
    <tr>
      <th scope="col">Продавец</th>
      <th scope="col">Товар</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
    <% all_price = 0 %>
    <% @cart.products.each do |products| %>
    <% catalog = Catalog.find(products[:catalog_id]) %>
    <% products[:product_ids].each do |prod| %>
      <% product_count = prod[:product_count].to_i %>
      <% product = Product.find(prod[:product_id]) %>
      <% price = product_count * product.price %>
      <% all_price = all_price + price %>
        <tr>
          <th scope="row">
            <%= link_to catalog.company_name, catalog_path(catalog) %>
          </th>
          <td align="center">
            <%= link_to product.name, "/" %>
          </td>
          <td align="center">
            <%= product_count %>
          </td>
          <td align="center"><%= price %> руб.</td>
        </tr>
      <% end %>
      <% end %>
      <tr>
        <td>&nbsp;</td>
        <td align="center">доставка</td>
        <td align="center">адрес</td>
        <td align="center">100руб.</td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row">Итого:</th>
      <th>&nbsp</th>
      <th align="center">
        <strong><%= @cart.all_products_count %></strong> товаров
      </th>
      <th align="center">на сумму <strong><%= all_price %></strong> руб.</th>
    </tr>
  </tfoot>
</table>

<%= form_tag(make_order_path('4')) do -%>
  <div style="display:none">
    <a href="#terms_of_confirm_dialog" id="terms_of_confirm_link"></a>
    <div id="terms_of_confirm_dialog">
      <h4>Чтобы не получать этого сообщения</h4>
      <h1>ЗАРЕГИСТИРУЙТЕСЬ!</h1>
      </br>
      <h2>Обратная связь</h2>
      <p>Для оформления заказа нам необходимо связаться с Вами</p>
      <p>Пожалуйста, введите Ваш</p>
      <p>
        <strong>номер телефона с кодом</strong><br>
        пример (86196)41616 или +7(961)352-29-09<br>
        <input type="text" size="30" id="customer_phone" name="customer_phone">
      </p>
      или
      <p>
        <strong>адрес электронной почты</strong><br>
        <input type="text" size="30" id="customer_email" name="customer_email">
      </p>
      <p>
        <input type="submit" value="Использовать" id="use_terms_of_confirm">
      </p>
    </div>
  </div>
  <input type="checkbox" id="agreement" name="agreement">Я согласен с <a href="">условиями предоставления услуг</a>
  <br>
  <br>
  <button type="submit" id="order_confirm">
    <strong style="vertical-align: middle; font-size: 20px;">Подтвердить заказ</strong>
    <img src="/images/red-arrow-icon.png" width="50px" height="30px" style="vertical-align: middle">
  </button>
<% end -%>
</div>
