<% content_for :head do %>
  <%= javascript_include_tag 'cart.js' %>
<% end %>

<table class="carttable">
  <caption>Моя корзина 
    <em>Внимание! Для того чтобы Ваша корзина и заказы были доступны с любого компьютера - <a href="/signup">зарегистрируйтесь.</a></em>
  </caption>
  <thead>
    <tr>
      <th scope="col">Продавец</th>
      <th scope="col">Товар</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>
      <th scope="col">Фото</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
    <% all_price = 0 %>
    <% @cart.products.each do |products| %>
    <% catalog = Catalog.find(products[:catalog_id]) %>
    <% products[:product_ids].each do |prod| %>
      <% product_count = prod[:product_count].to_i %>
      <% product = Product.find(prod[:product_id]) %>
      <% price = product_count * product.price %>
      <% all_price = all_price + price %>
      <tr>
        <th scope="row">
          <%= link_to catalog.company_name, catalog_path(catalog) %>
        </th>
        <td align="center">
          <%= link_to product.name, "/" %>
        </td>
        <td align="center">
          <input type="text" value="<%= product_count %>" size="10" id="catalog_<%= catalog.id %>_product_<%= product.id %>" name="productcount_<%= product_count %>">
        </td>
        <td align="center"><%= price %> руб.</td>
        <td align="center">
          <% image = product.product_pictures.first %>
          <a rel="product_<%= product.id %>" href="<%= image.picture.url(:large) %>" title="<%= image.note %>">
            <img src="<%= image.picture.url(:small) %>" width="40" height="30" />
          </a>
        </td>
        <td align="center">
          <a href="<%= destroy_from_cart_path(catalog.id, product.id) %>" title="удалить товар из корзины">Удалить</a>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th scope="row">Итого:</th>
      <td colspan="3">
        <strong><%= @cart.all_products_count %></strong> товаров, на сумму <strong><%= all_price %></strong> руб.
      </td>
      <td><input type="submit" value="Пересчитать" id="calculate"></td>
      <td><input type="submit" value="Очистить корзину" id="mycart_destroy"></td>
    </tr>
  </tfoot>
</table>
<div id='signup_submit'> 
  <p>
    <%= link_to image_tag("make_order.png"), make_order_path('1') %>
  </p> 
</div>