<h1>Listing izbrannoes</h1>

<table>
  <tr>
    <th>Identificator</th>
    <th>Catalog</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @izbrannoes.each do |izbranno| %>
  <tr>
    <td><%= izbranno.identificator %></td>
    <td><%= izbranno.catalog_id %></td>
    <td><%= link_to 'Show', izbranno %></td>
    <td><%= link_to 'Edit', edit_izbranno_path(izbranno) %></td>
    <td><%= link_to 'Destroy', izbranno, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Izbrannoe', new_izbranno_path %>
