<% content_for :head do %>
  <%= javascript_include_tag 'izbrannoe_index.js' %>
<% end %>

<h1>Мои любимые каталоги</h1>
<% @catalogs.each do |catalog| %>
<div class="card listing_content">
  <div class="cardcap">
    <img alt="Card-top" height="10" src="/images/card-top.png" width="225" />
  </div> 
  <div class="cardcontent"> 
    <div class="cardcompany listing_content"> 
      <h2><%= link_to catalog.company_name, "/#{catalog.shortcut_name}" %></h2>
      <p>
        <%= BusinessType.find(catalog.businesstype_id).name %><br />
        <span>
          <%= Location.find(catalog.location_id).name %>
        </span>
      </p> 
    </div> 
    <div class="free-image">
      <% pic = catalog.pictures.first(:order => "id ASC") %>
      <%= link_to image_tag(pic.picture.url(:small)), "/#{catalog.shortcut_name}" %>
    </div>
    <div class="cardtools">
      <div class="listing">
        <span class="favorite_links">
          <a href="/izbrannoes" class="favorites" onclick="to_izbrannoe(<%= catalog.id -%>);return false;" id="izbrannoe_<%= catalog.id -%>" ><%= izbrannoe?(catalog.id) -%></a>
        </span>
      </div>
    </div>
  </div> 
  <div class="cardcap"><img alt="Card-bottom" src="/images/card-bottom.png" /></div> 
</div>
<% end %>

<div class="clear"></div>
<div class="favorites_link">
  <strong>Покажите своё избранное друзьям этой ссылкой:</strong> &nbsp; 
  <a href="/izbrannoes/<%= izbrannoe_link -%>">http://klever.sever.kes.ru/izbrannoes/<%= izbrannoe_link -%></a>
</div>