<% content_for :head do %>
  <%= javascript_include_tag 'products_flowers_index.js' %>
<% end %>

<h1>Заказ цветов в <%= BusinessType.find(@catalog.businesstype_id).name.downcase %> <%= @catalog.company_name %></h1>

<% @products.each do |product| %>      
  <div class="card listing_content">
    <div class="cardcap">
      <img alt="Card-top" height="10" src="/images/card-top.png" width="225" />
    </div> 
    <div class="cardcontent"> 
      <div class="cardcompany listing_content"> 
        <h3><%= product.name %></h3>
        <p>
          <%= product.price_notation %><br />
          <span>
            <%= product.price %>
          </span>
        </p> 
      </div> 
      <div class="free-image">
        <% counter = 0 %>
        <% for image in product.product_pictures.all %>
          <% if counter==0 then %>
            <a rel="product_<%= product.id %>" href="<%= image.picture.url(:large) %>" title="<%= image.note %>">
              <img src="<%= image.picture.url(:small) %>" />
            </a>
          <% else%>
            <span style="display: none;VISIBILITY: hidden">
              <a rel="product_<%= product.id %>" href="<%= image.picture.url(:large) %>" title="<%= image.note %>">
                <img src="<%= image.picture.url(:small) %>" />
              </a>
            </span>
          <% end %>
          <% counter = counter + 1 %>
        <% end %>
      </div>
      <div class="cardtools">
        <div class="listing">
          <span class="favorite_links">
          <% unless current_user_self? %>
            <a href="#" onclick="alert('1');return false;">Купить</a>
          <% else %>
            <%= link_to "Редактировать", edit_catalog_product_path(@catalog,product), :id => "buket_edit" %>
            <a href="product_id_<%= product.id %>" id="delete_buket">Удалить</a>
            <form id="product_<%= product.id %>_delete_form" method="post" action="<%= catalog_product_path(@catalog,product) %>">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
              <input name="_method" type="hidden" value="delete" />
            </form>
          <% end %>
          </span>
        </div>
      </div>
    </div> 
    <div class="cardcap"><img alt="Card-bottom" src="/images/card-bottom.png" /></div> 
  </div>
<% end %>

<div class="clear"></div>

<% if current_user_self? %>
<%= render :partial => 'user_menu' %>
<div style="display:none">
  <div id="product_add">
    <h2>Добавить изображение в галерею</h2>
    <%= form_for([@catalog,@product], :html => { :multipart => true }) do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :catalog_id %>
      <p>
        <%= f.label :Название %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :Надпись_в_поле_цена %><br />
        <%= f.text_field :price_notation, :value => "цена, руб." %>
      </p>
      <p>
        <%= f.label :price %><br />
        <%= f.text_field :price %>
      </p>
      <p>
        <%= fields_for :product_pictures, @product_picture do |child_form| %>
        <%= child_form.label :Изображение %>
        <%= child_form.file_field :picture, :accept => "image/*" %>
        <% end %>
      </p>
      <p><%= f.submit "Добавить букет" %></p>
    <% end %>
  </div>

</div>
<% end %>