<h1>Изменить ценик</h1>

<%= form_for([@catalog,@product], :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Название %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Надпись_в_поле_цена %><br />
    <%= f.text_field :price_notation %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= fields_for :product_pictures, @product_picture do |child_form| %>
    <%= child_form.label :Добавить_картинку %>
    <%= child_form.file_field :picture, :accept => "image/*" %>
    <% end %>
  </p>
  <p>
    <script type="text/javascript">
      $(document).ready(function() {
        $('a[id^="picture_edit_"]').fancybox({
        		'hideOnContentClick': false
        });
      });
    </script>
    <% for image in @product.product_pictures.all %>
      <%= link_to image_tag(image.picture.url(:small)), edit_catalog_product_product_picture_path(@catalog,@product,image), :id => "picture_edit_#{image.id}" %>
    <% end %>
  </p>
  <p><%= f.submit "Изменить ценик" %></p>
<% end %>
