<div class="card-perma">
  <div class="cardcap-perma">
    <img alt="Card-top-perma" src="/images/card-top-perma.png">
  </div>
  <div class="cardcontent-perma">
    <div class="cardtools">
      <div class="printpage">
        <%= link_to zakaz_phraze(@catalog), catalog_products_path(@catalog), :class => 'print' -%>
      </div>
      <div class="listing">
        <span class="favorite_links">
          <a href="/izbrannoe/<%= @catalog.id -%>" class="favorites remove_from_favorites" onclick="to_izbrannoe(<%= @catalog.id -%>);return false;" ><%= izbrannoe?(@catalog.id) -%></a>
        </span>  
      </div>
    </div>
    <div class="cardcompany">
      <% if /missing/ =~ @catalog.logo.url(:thumb) %>
        <% if current_user_self? %>
          <%= image_tag "/images/your_logo.png", :align => 'right' %>
        <% end %>
      <% else %>
      <%= image_tag @catalog.logo.url(:thumb), :align => 'right' %>
      <% end %>
      <h2><%= @catalog.company_name %></h2>
      <p>
        Вид бизнеса: 
        <strong><%= BusinessType.find(@catalog.businesstype_id).name %></strong><br />
        Расположен в 
        <strong>
          <a href="/chicago"><%= Location.find(@catalog.location_id).name %></a>
        </strong><br />
        E-mail: 
        <strong>
          <a href="mailto:<%= @catalog.email -%>?subject=Вопросы о каталоге <%= @catalog.company_name -%>"><%= @catalog.email %></a>
        </strong>
      </p>
    </div>
    <div class="action">
      <h2>Мы принимаем заказы по телефону <%= @catalog.phone %></h2>
      <h3>
          <a href="mailto:<%= @catalog.email %>"><%= @catalog.email %></a>
          •
          <a href="<%= @catalog.company_url %>"><%= @catalog.company_url %></a>
      </h3>
    </div>
  </div>
  <div class="cardcap-perma">
    <img alt="Card-bottom-perma" src="/images/card-bottom-perma.png">
  </div>
</div>