<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <table align="center">
    <tr>
      <td><%= f.label :name %> 
      <td><%= f.text_field :name %>
    </tr>
    <tr>
      <td><%= f.label :domain %> 
      <td><%= f.text_field :domain %>
    </tr>
    <tr>
      <td><%= f.label :vid %> 
      <td><%= f.text_field :vid %>
    </tr>
  </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
