<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="Найди магазин для своей следующей покупки. Выбери стиль, бюджет и место. Просмотри товары, услуги и предложения." />
  <meta name="keywords" content="<%= keywords %>">
  <meta name="Revisit" content="14">
  <title><%= render_title %></title>
  <%= stylesheet_link_tag 'myapp' %>
  <%= stylesheet_link_tag 'jquery.fancybox-1.3.4.css' %>
  <%= stylesheet_link_tag 'shadowbox303/shadowbox.css' %>
  <%= javascript_include_tag 'jquery-1.5.1.min.js' %>
  <%= javascript_include_tag 'jquery.effects.core.js' %>
  <%= javascript_include_tag 'jquery.effects.slide.js' %>
  <%= javascript_include_tag 'jquery.cookie.js' %>
  <%= javascript_include_tag 'jquery.fancybox-1.3.4.pack.js' %>
  <%= javascript_include_tag 'jquery.easing-1.3.pack.js' %>
  <%= javascript_include_tag 'jquery.mousewheel-3.0.4.pack.js' %>
  <%= javascript_include_tag 'jquery.scrollFollow.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'jquery.carouFredSel-5.5.0-packed.js' %>
  <%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
  <%= javascript_include_tag 'jquery.dropDown.pack.js' %>
  
  <%= yield :head %>
  <%= csrf_meta_tag %>
  <%= render :partial => 'layouts/ga' if Rails.env.production? %>

  <!--Скрипт для скольжения блока меню в левой колонке.
  <script type="text/javascript">
   		$( document ).ready( function ()
			{
				$( '#left_col' ).scrollFollow();
			}
		);
   	</script> -->
</head>
<body class="<%= body_style %>" <%= "onload='#{@onload}'" %> >
<div id="logon_box">
	<script type="text/javascript">
		function OpenRegArea(){
			$('#RegArea').toggle("slow");
			return false
		}
	</script>
		<div id="login_form_box"><h3>Форма авторизации на сайте<a id="close_shadow_logon" href="/">X</a></h3>
		<form method="post" action="login">
			<table id="login_form_box_table">
			<tr><td><label for="phone_number">Номер тел:</label></td><td><input type="text" tabindex="2" name="phone_number" id="potreb_username"><br /></td></tr>
			<tr><td><label for="password">Пароль:</label></td><td><input type="password" tabindex="3" name="passwd" id="potreb_pass"><br /></td></tr>
			</table>
			</form>
			
			
			<input type="submit" tabindex="4" class="b-form-button__input" value="Войти">
			<div style="text-align: center;"><a id="reg_link" onclick="OpenRegArea()" href="#">Регистрация</a>
			<div id="RegArea">
			<form method="post" action="registration">
				<table id="login_form_box_table">
				<tr><td><label for="phone_number">Номер тел:</label></td><td><input type="text" tabindex="2" name="phone_number" </td></tr>
				<tr><td><label for="password">Пароль:</label></td><td><input type="password" tabindex="3" name="passwd"></td></tr>
				<tr><td><label for="password">Подтверждение пароля:</label></td><td><input type="password" tabindex="3" name="passwd"</td></tr>
				<tr><td><label for="password">Ник:</label></td><td><input type="text" tabindex="3" name="nik"</td></tr><tr><td><label for="password">E-mail:</label></td><td><input type="text" tabindex="3" name="nik"</td></tr>
				</table>
				<input type="submit" tabindex="4" class="b-form-button__input" value="Зарегистрироваться">
			</form>
			
			</div>
			</div>
			<div style="color: #999; text-align: center;">или вход через:</div>
			<div id="social_logon"><script src="http://ulogin.ru/js/ulogin.js"></script>
			<div id="uLogin" x-ulogin-params="display=small;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=http%3A%2F%2F"></div></div>
		
		</div>
	</div>
<div id="logon_shadow_box">
	
</div>
<script>
		$(document).ready( function () {
		
		$('#close_shadow_logon').click( function(){
			$('#logon_shadow_box').css('display','none');
			$('#logon_box').css('display','none');
			return false;
			})
		});
</script>

<%= render :partial => '/catalogs/shadowBox' %>
  <a name="top"></a>
  <div class="container">
    <div id="header" class="header">
	<div style="position:relative;">
	<%= render_header %>
    </div>
    </div>

    <%= render 'layouts/notice' %>
	<div id="left_stretching"></div>
	<div id="left_col">
	<%= render 'layouts/left_col_menu' %>
	</div>
    <div class="content">
	 <%= render 'layouts/karusel' %>
      <%= yield %>
    </div>
	
  
  </div>  <%= render 'layouts/footer' %>
  <%= render :partial => 'layouts/admin_menu' %>
  <%= render :partial => 'layouts/main_menu' %>
</body>
</html>